@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
	--primary-color: rgb(0, 166, 195);
	--secondary-color: grey;
}

body {
	background: url("./assets/images/laptopHD.jpg") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: poppins;
	font-size: 16px;
	margin: 0;
	padding: 0;
	transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.App {
	min-width: 375px;
}

/* swipper styling */

.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
}
.swiper-button-next,
.swiper-button-prev {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: background 400ms ease-in-out;
}
.swiper-container:hover .swiper-button-next {
	background-image: url("../src/assets/images/arrow-right-s-line.svg");
}
.swiper-container:hover .swiper-button-prev {
	background-image: url("../src/assets/images/arrow-left-s-line.svg");
}
